UnityProject/Library
UnityProject/Temp
UnityProject/obj
UnityProject/build
UnityProject/Assets/*.meta
UnityProject/Assets/Plugins
UnityProject/Assets/PlayServicesResolver
UnityProject/.vs

Designs/*.zip
Designs/*.rar

# Created by https://www.gitignore.io/api/laravel

### Laravel ###
Backend/laravel/vendor/
Backend/laravel/node_modules/
Backend/laravel/npm-debug.log

# Laravel 4 specific
Backend/laravel/bootstrap/compiled.php
Backend/laravel/app/storage/

# Laravel 5 & Lumen specific
Backend/laravel/public/storage
Backend/laravel/public/hot
Backend/laravel/storage/*.key
Backend/laravel/.env.*.php
Backend/laravel/.env.php
Backend/laravel/.env
Backend/laravel/Homestead.yaml
Backend/laravel/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
Backend/laravel/.rocketeer/